// Global scss styles
.active {
  background-color: green !important;
  font-weight: bold;
  margin: 3px 0;
  border: 1px solid #000;
}

.bi-chevron-down::before {
  padding-left: 2px;
  font-size: .75rem;
  font-weight: 700 !important;
}

.bi-chevron-up::before {
  padding-left: 2px;
  font-size: .75rem;
  font-weight: 700 !important;
}


.inactive {
  color: #000;
  margin: 3px 0;
  padding: 0 6px;
}

td {
  box-shadow: inset 0 0 0 1px #000;
  padding: 3px 5px;
  text-align: center;
  background-color: #fff;
  min-width: 60px;

  a {
    text-decoration: underline;
    font-weight: bold;
    color: #000;
  }
}

/* .colorTds { */
  .rankContainer {
    display: none;
    background-color: #eee;
    box-shadow: none;
    font-size: 1rem;

    div {
      border: 1px solid #000;

      .mobileHide {
        display: none;

        @media screen and (min-width: 768px) {
          display: inline-block;
        }
      }
    }
  }

  .topRank1 {
    background-color: red;
    color: white;
    font-weight: bold;
  }

  .topRank2to5 {
    background-color: orange;
    color: black;
  }

  .topRank6to10 {
    background-color: yellow;
  }

  .botRank6to10 {
    background-color: cyan;
  }

  .botRank2to5 {
    background-color: blue;
    color: white;
  }

  .botRank1 {
    background-color: navy;
    color: white;
    font-weight: bold;

    .bi.bi-chevron-right {
      padding: 0;

      &:before {
        transform: rotate(360deg);
      }
    }
  }
/* } */