// Global scss styles
.active {
  background-color: green !important;
  font-weight: bold;
  margin: 3px 0;
  /* border: 1px solid #000; */
}

.bi-chevron-down::before {
  padding-left: 2px;
  font-size: .75rem;
  font-weight: 700 !important;
}

.bi-chevron-up::before {
  padding-left: 2px;
  font-size: .75rem;
  font-weight: 700 !important;
}


.inactive {
  color: #000;
  margin: 3px 0;
  padding: 0 6px;
}

td {
  border: 1px solid #333;
  padding: 3px 5px;
  text-align: center;
  background-color: #fff;
  min-width: 60px;

  a {
    text-decoration: underline;
    font-weight: bold;
    color: #000;
  }
}

.rankContainer {
  display: none;
  background-color: #eee;
  box-shadow: none;
  font-size: 1rem;

  div {
    border: 1px solid #000;

    .mobileHide {
      display: none;

      @media screen and (min-width: 768px) {
        display: inline-block;
      }
    }
  }
}

.topRank1 {
  background-color: red;        
  transition: background-color 1s ease;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px #000;
  font-size: 1rem;
  @media screen and (min-width: 768px) {
    font-size: 1.2rem;
  }
}

.topRank2to5 {
  background-color: orange;
  transition: background-color 1s ease;
  color: black;
}

.topRank6to10 {
  background-color: yellow;
  transition: background-color 1s ease;
}

.botRank6to10 {
  background-color: cyan;
  transition: background-color 1s ease;
}

.botRank2to5 {
  background-color: blue;
  transition: background-color 1s ease;
  color: white;
}

.botRank1 {
  background-color: navy;
  transition: background-color 1s ease;
  color: white;

  .bi.bi-chevron-right {
    padding: 0;

    &:before {
      transform: rotate(360deg);
    }
  }
}
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}