@import "global.scss";

.App {
  text-align: left;
  padding: 5px 5px 5px 0;

  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1097px;
  }

  >table {
    border-collapse: collapse;
    margin-top: 67px;
    display: flex;
    width: 1116px;

    @media screen and (min-width: 768px) {
      width: 895px
    }

    @media screen and (min-width: 992px) {
      justify-content: center;
      width: 100%;
    }

    .legendColumn {
      display: none;
      box-shadow: none;
      visibility: hidden;

      @media screen and (min-width: 992px) {
        display: block;
        visibility: hidden;
      }

      @media screen and (min-width: 1200px) {
        visibility: visible;
      }

    }


    .columnHeadings {
      z-index: 2;
      position: sticky;
      top: 71px;

      td:nth-child(1) {
        display: none;

        @media screen and (min-width: 992px) {
          box-shadow: none;
          display: block;
          margin-right: 20px;
        }
      }

      box-shadow: none;

      .legendColumn {
        position: fixed;
        top: 72px;
        box-shadow: none;
        background-color: #eee;
        border: 1px solid #000;

        .legendTitle {
          width: 57px;
          height: 24.1px;
          background-color: #eee;
        }

        div {
          border-bottom: 1px solid #000;
          height: 23.9px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }


      .team {
        position: sticky;
        left: 0;
        z-index: 2;
        box-shadow: inset 0 0 0 1px #000;
        white-space: nowrap;
        background-color: #fff;

        @media screen and (min-width: 768px) {
          font-size: 1rem;
        }

        &.active {
          background-color: green;
          color: white;
          font-weight: bold;
          margin: 3px 0;

          @media screen and (min-width: 768px) {
            width: 165px;
            margin: 0;
          }

          a,
          a:visited,
          a:hover,
          a:active,
          a:focus {
            color: #fff;
            width: 80%;
            display: inline-block;
          }
        }

        a {
          all: unset;
          min-width: 0%;

          @media screen and (min-width: 768px) {
            min-width: 90%;
          }

        }
      }

      .top {
        position: sticky;
        top: 0;
        background-color: #ddd;
        z-index: 1;
        border: none;

        &.active {

          a,
          a:visited,
          a:hover,
          a:active,
          a:focus {
            color: #fff;
          }
        }
      }


    }

    .left {
      position: sticky;
      text-align: center;

      @media screen and (min-width: 768px) {
        text-align: left;
      }

      left: 0;
      background-color: #eee;
      white-space: nowrap;
    }
  }

  #popup-legend-modal {
    position: fixed;
    top: 10.7vh;
    left: 43vw;
    background-color: #fff;
    text-align: center;
    padding: 5px;
    border: 1px solid #000;
    overflow: auto;
    height: auto;
    z-index: 100;
    width: 80px;

    @media screen and (min-width: 1200px) {
      display: none;
    }

    [class^="topRank"],
    [class^="botRank"] {
      padding: 0px 5px;
      height: auto;
      border-right: 1px inset #000;
      border-left: 1px inset #000;
      border-bottom: 1px inset #000;
      display: table-cell;
      display: flex;
      justify-content: center;
      font-size: .8rem;

      @media screen and (min-width: 768px) {
        font-size: 1rem;
      }
    }
  }
}

.opacity-0 {
  background-color: rgba(0, 0, 0, 0);
}

.opacity-50 {
  background-color: rgba(0, 0, 0, .5);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}


header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  font-size: 1.5rem;
  height: 71px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    max-width: 1120px;
  }


}


.headerLeft {
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-size: 1rem;

  @media screen and (min-width: 768px) {
    font-size: 1.2rem;
  }
}

.ss {
  display: none;

  @media screen and (max-width: 576px) {
    display: block;
    letter-spacing: normal;
  }
}

.sortsport {
  display: none;

  @media screen and (min-width: 577px) {
    display: block;
  }
}

.brand {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: .3rem;
  font-weight: bold;
  border: green 3px dashed;
  font-size: 1.3rem;
  display: inline-block;
  margin-left: 6px;
  margin-right: 12px;
  padding: 1px 3px;
  width: 49px;
  transition: width 1s ease;

  @media screen and (min-width: 577px) {
    width: 155px;
  }
}

/* 
.headerContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media screen and (min-width: 768px) {
    max-width: none;
  }
} */

.dimmed {
  opacity: .2;

  @media screen and (min-width: 1200px) {
    opacity: 1;
  }
}

.season {
  margin-right: 12px;
  font-size: 1.3rem;
  width: 126px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media screen and (min-width: 768px) {
    font-size: 1.3rem;
    width: 100%;
  }

  a.active,
  a.inactive {
    margin-left: 3px;
    padding: 3px 3px 0px 3px;
    border-radius: 5px;
    border: 1px solid #000;

    .categorytext {
      display: none;

      @media screen and (min-width: 768px) {
        display: inline-block;
        padding: 0px 3px 4px 3px;
      }
    }
  }


  button {
    display: inline;
    font-size: unset;
  }
}

.hitting {

  &:before {
    content: "";
    background-image: url('/src/assets/images/batter.jpg');
    display: inline-block;
    background-size: contain;
    width: 41px;
    height: 41px;
    background-repeat: no-repeat;
    background-position: 9px 0px;
    background-color: #fff;
    border-radius: 5px;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &.active {
    color: #fff;
    padding: 3px 3px 1px 3px;

  }

  &.inactive {
    color: #bbb;
    border: 1px solid #ccc;
    padding: 0;

    &:before {
      background-position: 10px 2px;
    }
  }
}

.pitching {

  &:before {
    content: "";
    background-image: url('/src/assets/images/pitcher.jpg');
    display: inline-block;
    background-size: contain;
    width: 41px;
    height: 41px;
    background-repeat: no-repeat;
    background-position: 4px 2px;
    background-color: #fff;
    border-radius: 5px;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &.active {
    color: #fff;
    padding: 3px 3px 1px 3px;

    &:before {
      background-position: 6px 1px;
    }
  }

  &.inactive {
    color: #bbb;
    border: 1px solid #ccc;
    padding: 0;

    &:before {
      background-position: 8px 2px;
    }
  }
}

.description {
  display: none;

  @media screen and (min-width: 577px) {
    display: inline-block;
    padding: 0 4px;
  }
}

.legend-toggle {
  position: relative;
  min-width: 25px;
  border-radius: 25%;
  color: #000;
  font-size: 2.5rem;
  padding: 0 5px 0 9px;
  margin-right: 0;
  opacity: 1;
  transition: opacity 2s ease;

  @media screen and (min-width: 768px) {
    min-width: 38px;
  }

  @media screen and (min-width: 1200px) {
    opacity: 0;
    transition: opacity 2s ease;
  }


  a {
    color: #000;

    @media screen and (min-width: 1200px) {
      pointer-events: none;
    }
  }

  &.legend-button-highlighted {

    .bi:before {
      color: green;
    }
  }
}

.headerRight {
  display: flex;
  align-items: center;
  padding-right: 7px;
}

#color-button {
  background-color: transparent;
  min-width: unset;
  display: none;

  &:before {
    content: "";
    background-image: url('/src/assets/images/color_palette.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 43px;
    height: 43px;
    display: block;
  }

}

#bw-button {
  position: relative;

  &:before {
    color: #000;
    font-size: 2.4rem;
    position: absolute;
    top: 5px;
    left: 6px;
    z-index: -1;
  }

  a {
    width: 50px;
    height: 50px;
    display: block;
  }
}

@media screen and (max-width: 400px) {

  #color-button {
    font-size: 1rem;
    min-width: 35px;
    min-height: 35px;
    padding: 0;
  }

}

.bw {

  .topRank1,
  .topRank2to5,
  .topRank6to10,
  .botRank1,
  .botRank2to5,
  .botRank6to10 {
    background-color: #fff;
    color: #000;
    font-weight: normal;
  }

  tbody tr:nth-child(odd) td {
    background-color: #ddd;
  }
}