@import "global.scss";

.App {
  text-align: left;
  padding: 5px 5px 5px 0;

  header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eee;
    z-index: 3;
    width: 100%;
    height: 44px;

    .topTable {
      margin-top: 0;

      .colorTds {
        .season {
          background-color: #eee;

          button {
            display: inline;
          }
        }
      }
    }
  }

  >table {
    border-collapse: collapse;
    margin-top: 39px;

    .columnHeadings {
      z-index: 2;
      position: sticky;
      top: 44px;

      .team {
        position: sticky;
        left: 0;
        z-index: 2;
        box-shadow: inset 0 0 0 1px #000;
        white-space: nowrap;
        font-size: 1rem;
        background-color: #fff;

        @media screen and (min-width: 768px) {
          font-size: 1.2rem;
        }

        &active {
          background-color: green;
          color: white;
          font-weight: bold;
          margin: 3px 0;
        }

        button {
          all: unset;
          min-width: 0%;

          @media screen and (min-width: 768px) {
            min-width: 90%;
          }

        }
      }

      .top {
        position: sticky;
        top: 0;
        background-color: #eee;
        z-index: 1;
        border: none;
      }


    }

    .left {
      position: sticky;
      text-align: center;

      @media screen and (min-width: 768px) {
        text-align: left;
      }

      left: 0;
      background-color: #eee;
      white-space: nowrap;
    }
  }

}